<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %l %m%n" />
		</layout> <!--限制输出级别 -->

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>
	
	<appender name="dailyRollingFile"  
        class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="info"></param>  
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="./logs/wash.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>   

	<root>
		<priority value="debug" />
		<appender-ref ref="dailyRollingFile" />
	</root>
	
	<logger name="org.springframework">
	  <level value="error" />
	  <appender-ref ref="dailyRollingFile" />
	 </logger>
</log4j:configuration>