html body {
	margin : 0px;
	padding : 0px;
	height : '100%';
	margin:0 auto;
	text-align: center;
	background-color:#ffffff;
}

.titleLabelCls {
	background-color:white;
	height: 89px;
}

.logoDivCls {
	height: 89px;
	width: 250px;
}

.rooterCls {
	background-color:green;
	height: 70px;
	width: 1200px; 
	margin:0px auto 5px auto;
	box-shadow: 3px 3px 5px gray;
}

.modUserInfoInputDivCls {
	margin : 10px;
	padding-left: 50px;
}

.lodingDivCLs {
	width: '100%';
	padding-top: 300px;
	text-align:center;
	height: 1080px;
}