html body {
	margin : 0px;
	padding : 0px;
	height : 800px;
	margin:0 auto;
	text-align: center;
}

.titleLabelCls {
	background-color:white;
	height: 89px;
}

.logoDivCls {
	background-color:white;
	height: 89px;
	width: 250px;
}

.rooterCls {
	background-color:green;
	height: 60px;
}

.modUserInfoInputDivCls {
	margin : 10px;
	padding-left: 50px;
}
